@charset "UTF-8";
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ff8a00;
}

.svg-icon circle {
  stroke: #ff8a00;
  stroke-width: 1;
}