<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TicketMapper">

	<resultMap type="com.itwill.littlecinema.domain.Ticket" id="ticket">
		<id property="ticketNo" column="ticket_no"/>
		<result property="payCost" column="pay_cost"/>
		<result property="orderDate" column="order_date"/>
		<result property="ticketStatus" column="ticket_status"/>
		<association property="member" javaType="com.itwill.littlecinema.domain.Member" autoMapping="true">
			<id property="id" column="id"/>	
		</association>
		<association property="time" javaType="com.itwill.littlecinema.domain.Time" autoMapping="true">
			<id property="timeCode" column="time_code"/>
		</association>
	</resultMap>
	
	<resultMap type="com.itwill.littlecinema.domain.Ticket" id="ticketResult">
		<id property="ticketNo" column="ticket_No" />
		<result property="payCost" column="pay_Cost" />
		<result property="orderDate" column="order_Date" />
		<result property="ticketStatus" column="ticket_Status" />
		<association property="member" javaType="com.itwill.littlecinema.domain.Member">
			<id property="id" column="id" />
		</association>
		<association property="time" javaType="com.itwill.littlecinema.domain.Time">
			<id property="timeCode" column="time_Code" />
			<result property="startTime" column="start_Time" />
			<result property="endTime" column="end_Time" />
			<result property="movieDate" column="movie_Date" />
			<association property="movie" javaType="com.itwill.littlecinema.domain.Movie"> 
				<id property="movieNo" column="movie_No" />
				<result property="title" column="title" />
				<result property="runningtime" column="runningtime" />
				<result property="rating" column="rating" />
				<result property="posterImage" column="poster_Image" />
			</association>
			<association property="screen" javaType="com.itwill.littlecinema.domain.Screen">
				<id property="screenNo" column="screen_No" />
				<result property="screenName" column="screen_Name" />
			</association>
		</association>
		<collection property="bookedSeatList" ofType="com.itwill.littlecinema.domain.BookedSeat">
			<association property="seat" javaType="com.itwill.littlecinema.domain.Seat">
				<result property="seatCode" column="seat_Code" />
			</association>
		</collection>

	</resultMap>

	<select id="selectById" parameterType="string" resultMap="ticketResult">
		SELECT *
		FROM TICKET
		INNER JOIN TIME
		           ON TICKET.TIME_CODE = TIME.TIME_CODE
		INNER JOIN MOVIE
		           ON TIME.MOVIE_NO = MOVIE.MOVIE_NO
		WHERE ID = #{id}
		  AND TICKET_STATUS = 1
		ORDER BY ORDER_DATE DESC
	</select>
	
	<insert id="insertTicket" parameterType="com.itwill.littlecinema.domain.Ticket">
		<selectKey order="BEFORE" resultType="int" keyProperty="ticketNo" keyColumn="ticket_no">
			SELECT TICKET_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO TICKET(TICKET_NO, ID, TIME_CODE, PAY_COST, ORDER_DATE, TICKET_STATUS)
		VALUES(#{ticketNo}, #{member.id}, #{time.timeCode}, #{payCost}, #{orderDate}, #{ticketStatus})
	</insert>
	
	<update id="updateTicketStatus" parameterType="int" >
		UPDATE TICKET
		SET TICKET_STATUS = 0
		WHERE TICKET_NO = #{ticketNo}
	</update>
	
	<!-- author: 성윤희 -->
	<!-- last modifier: 유재협 -->
	<select id="selectTicketBookedSeatByNo" parameterType="int" resultMap="ticketResult">
		SELECT T.TICKET_NO, ID, PAY_COST, ORDER_DATE, TICKET_STATUS,
		       START_TIME, END_TIME, MOVIE_DATE, TITLE, RUNNINGTIME,
		       BS.SEAT_CODE, BS.SCREEN_NO, M.POSTER_IMAGE
		FROM TICKET      T
		JOIN TIME
		     ON T.TIME_CODE = TIME.TIME_CODE
		JOIN MOVIE       M
		     ON TIME.MOVIE_NO = M.MOVIE_NO
		JOIN BOOKED_SEAT BS
		     ON T.TICKET_NO = BS.TICKET_NO
		WHERE T.TICKET_NO = #{ticketNo}
	</select>
	
</mapper>